<h2>Por Región</h2>  
<hr>
<h5>Buscar por continente - Activo: {{ regionActiva | titlecase }} </h5>
<div class="row">
    <div class="col">
        <button            
            class="btn btn-outline-primary"
            *ngFor="let itemRegion of regiones"
            (click)="activarRegion( itemRegion )"
            [class]="getClassCSS(itemRegion)"
        >

            {{ itemRegion | titlecase  }}
        </button>
    </div>        

</div>


<div *ngIf="paises.length > 0">
    <app-pais-tabla
        [paises]="paises">
    </app-pais-tabla>
</div>


